/* Container for the entire navbar */
.navbar-container {
    width: 100%;
    background-color: #5a67d8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 60px;
}

/* Flex container for logo and title */
.navbar {
    display: flex;
    justify-content: space-between; /* Space between logo and title */
    align-items: center;
    height: 100%;
    padding: 0 20px; /* Add some padding for spacing */
}

/* Logo container aligned to the left */
.custom-logo-container {
    display: flex;
}

/* Style for the logo image */
.custom-hospital-logo {
    width: 10px; /* Adjust as needed */
    height: auto;
   
    border-radius: 15px;
}

.navbar-title {
    color: white;
    margin: 0 auto; /* Centers the title in the remaining space */
    font-size: 24px;
    font-weight: bold;
}

